@charset "UTF-8";
@import url(style_Reset.css);

div#wrap {border: 1px solid #000;}
header#header{border: 1px solid #000;}
nav#gnb{border: 1px solid #000;}
main#main{border: 1px solid #000;}
div#slide{border: 1px solid #000;}
div#blank{border: 1px solid #000;}
div#shortcut{border: 1px solid #000;}
div#contents{border: 1px solid #000;}
div#subContents{border: 1px solid #000;}
div#address{border: 1px solid #000;}
footer#footer{border: 1px solid #000;}







